bim2bem-geometry/cases_in/*
!bim2bem-geometry/cases_in/.gitkeep
bim2bem-geometry/cases_out/*
!bim2bem-geometry/cases_out/.gitkeep
bim2bem-hvac/cases_in/*
!bim2bem-hvac/cases_in/.gitkeep
bim2bem-hvac/cases_out/*
!bim2bem-hvac/cases_out/.gitkeep
bim2bem-hvac/bim2graph/.venv/
__pycache__/
*.pyc
